ohsheet.aboff.com {
	encode gzip zstd

	log access {
		output file /var/log/caddy/access.log
	}

	log errors {
		output file /var/log/caddy/error.log
		level ERROR
	}

	@backend path /api/* /oauth2/* /login/oauth2/*
	handle @backend {
		reverse_proxy core:8080
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
